<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865522229832-a2qelh2dv80m0nfv4527mvdtlse7762n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865522229832-a2qelh2dv80m0nfv4527mvdtlse7762n</string>
	<key>API_KEY</key>
	<string>AIzaSyDHOIbwW3E2YnZoMWeu5Owkmkxy9YK3RMw</string>
	<key>GCM_SENDER_ID</key>
	<string>865522229832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.surveyApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>muse-demo-1d634</string>
	<key>STORAGE_BUCKET</key>
	<string>muse-demo-1d634.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865522229832:ios:89aa67a4328edbdccaee7d</string>
</dict>
</plist>